<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>accueil</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='accueil.css') }}">
    </head>
    <body>
     <header>
      <nav class="menu">
       <div class="inner">
        <div class="m-left">
         <h1 class="logo"><img src= "{{url_for('static', filename='inginious.png')}}" width="65" height="60" class="images">    Statistiques-INGInious</h1>
        </div>
        <div class="m-right">
          <div class="menu_déroulant">
           <li class= "déroulant"><a href="#" class= "lien" ><img src= "{{url_for('static', filename='livre.jpg')}}" width="30" height="25" class="image">   LSINF1101</li></a>
            <ul class= "sous">
             <li><a href="{{url_for('résultatLSINF1101')}}">  Résultat </li></a>
             <li><a href="{{url_for('soumissionparjourLSINF1101')}}">  page 3 </li></a>
             <li><a href="{{url_for('batônnetsLSINF1101')}}">  page 4 </li></a>
            </ul>
          </div>
        </div>
        <div class="m-right">
          <div class="menu_déroulant">
           <li class= "déroulant"><a href="#" class= "lien" ><img src= "{{url_for('static', filename='livre.jpg')}}" width="30" height="25" class="image">   LSINF1252</li></a>
            <ul class= "sous">
             <li><a href="{{url_for('résultatLSINF1252')}}"> Résultat </li></a>
            <li><a href="{{url_for('soumissionparjourLSINF1252')}}"> page 9 </li></a>
            <li><a href="{{url_for('batônnetsLSINF1252')}}"> page 10 </li></a>
            </ul>
          </div>
        </div>
        <div class="m-right">
         <div class="menu_déroulant">
          <li class= "déroulant"><a href="#" class= "lien" ><img src= "{{url_for('static', filename='livre.jpg')}}" width="30" height="25" class="image">   LEPL1402</li></a>
           <ul class= "sous">
            <li><a href="{{url_for('résultatLEPL1402')}}"> Résultat </li></a>
            <li><a href="{{url_for('soumissionparjourLEPL1402')}}"> page 9 </li></a>
            <li><a href="{{url_for('batônnetsLEPL1402')}}"> page 10 </li></a>
           </ul>
         </div>
        </div>
        <div class="m-right">
         <a href="{{url_for('page_contact')}}" class= "lien" ><img src= "{{url_for('static', filename='téléphone.jpg')}}" width="30" height="25" class="image">   CONTACT</a>
        </div>
       </div>
      </nav>
     </header>
     <corps >
      <div class= "text" align= "justify">
       Bienvenue sur Statistiques-INGInious,
       vous trouverez ici une analyse complète des 
       données du site INGInious pour les cours:<br>
       - LEPL1402<br>
       - LSINF1252<br>
       - LSINF1101<br><br>
       <a href="https://inginious.org/" role="button">Plus d'infos sur Inginious</a>
      </div>
     </corps>
     <footer class="menu2">
       <div class="lien2">
        FONDATEUR DU SITE :
           <a href="{{url_for('page_contact')}}"class= "lien">  ALEXANDRE VANDERVALE</a>
           <a href="{{url_for('page_contact')}}"class= "lien">  GUILLAUME DUERINCKX</a>
           <a href="{{url_for('page_contact')}}"class= "lien">  ADRIEN TALOM</a>
       </div>
     </footer>
    </body>
</html>