<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>batônnetsLSINF1101</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">
        <script src="static/Chart.bundle.min.js"></script>
    </head>
    <body>
     <header>
      <header>
      <nav class="menu">
       <div class="inner">
        <div class="m-left">
         <h1 class="logo"><a href="{{url_for('accueil')}}" class="logo"><img src= "{{url_for('static', filename='inginious.png')}}" width="65" height="60" class="images">    Statistiques-INGInious</a></h1>
        </div>
        <div class="m-right">
          <div class="menu_déroulant">
           <li class= "déroulant"><a href="#" class= "lien" ><img src= "{{url_for('static', filename='livre.jpg')}}" width="30" height="25" class="image">   LSINF1101</li></a>
            <ul class= "sous">
             <li><a href="{{url_for('résultatLSINF1101')}}">  Soumissions </li></a>
             <li><a href="{{url_for('soumissionparjourLSINF1101')}}">  Timeline </li></a>
             <li><a href="{{url_for('batônnetsLSINF1101')}}"> Exercices </li></a>
            </ul>
          </div>
        </div>
        <div class="m-right">
          <div class="menu_déroulant">
           <li class= "déroulant"><a href="#" class= "lien" ><img src= "{{url_for('static', filename='livre.jpg')}}" width="30" height="25" class="image">   LSINF1252</li></a>
            <ul class= "sous">
             <li><a href="{{url_for('résultatLSINF1252')}}"> Soumissions </li></a>
            <li><a href="{{url_for('soumissionparjourLSINF1252')}}"> Timeline </li></a>
            <li><a href="{{url_for('batônnetsLSINF1252')}}"> Exercices </li></a>
            </ul>
          </div>
        </div>
        <div class="m-right">
         <div class="menu_déroulant">
          <li class= "déroulant"><a href="#" class= "lien" ><img src= "{{url_for('static', filename='livre.jpg')}}" width="30" height="25" class="image">   LEPL1402</li></a>
           <ul class= "sous">
            <li><a href="{{url_for('résultatLEPL1402')}}"> Soumissions </li></a>
            <li><a href="{{url_for('soumissionparjourLEPL1402')}}"> Timeline </li></a>
            <li><a href="{{url_for('batônnetsLEPL1402')}}"> Exercices </li></a>
           </ul>
         </div>
        </div>
        <div class="m-right">
         <a href="{{url_for('page_contact')}}" class= "lien" ><img src= "{{url_for('static', filename='téléphone.jpg')}}" width="30" height="25" class="image">   CONTACT</a>
        </div>
       </div>
      </nav>
  </header>
   <canvas style="width: 20% ; height: auto;"id='myChart'></canvas>
   <canvas style="width: 20% ; height: auto;"id='myChart1'></canvas>
   <script>

       // set default to straight lines - no curves
       // Chart.defaults.global.elements.line.tension = 0;
       // set default no fill beneath the line
       Chart.defaults.global.elements.line.fill = false;

       // stacked bar with 2 unstacked lines - nope
       var barChartData = {
         labels: {{ labels|safe }},
         datasets: [{
           label: 'taux d\'echecs',
           yAxisID: "y-axis-0",
           backgroundColor: "rgba(217,83,79,0.75)",
           data: {{ falsest }}
         }, {
           label: 'taux de réussite',
           yAxisID: "y-axis-0",
           backgroundColor: "rgba(92,184,92,0.75)",
           data: {{ trust }}
         }, {
           label: 'pourcentage des echecs par réussites',
           yAxisID: "y-axis-1",
           backgroundColor: "rgba(0, 71, 255, 0.5)",
           data: {{ percent }}
         }]
       };


       var ctx = document.getElementById("myChart");
       // allocate and initialize a chart
       var ch = new Chart(ctx, {
         type: 'bar',
         data: barChartData,
         options: {
           title: {
             display: true,
             text: "Taux & pourcentage d'echec par reussite d'un cours (exculant les soumissions nulles)"
           },
           tooltips: {
             mode: 'label'
           },
           responsive: true,
           scales: {
             xAxes: [{
               stacked: false
             }],
             yAxes: [{
               stacked: false,
               position: "left",
               id: "y-axis-0",
             }, {
               stacked: false,
               position: "right",
               id: "y-axis-1",
             }]
           }
         }
       });



   </script>
   <script>

       // set default to straight lines - no curves
       // Chart.defaults.global.elements.line.tension = 0;
       // set default no fill beneath the line
       Chart.defaults.global.elements.line.fill = false;

       // stacked bar with 2 unstacked lines - nope
       var barChartData = {
         labels: {{ labels|safe }},
         datasets: [{
           label: 'taux d\'echecs',
           yAxisID: "y-axis-0",
           backgroundColor: "rgba(217,83,79,0.75)",
           data: {{ falsest2 }}
         }, {
           label: 'taux de réussite',
           yAxisID: "y-axis-0",
           backgroundColor: "rgba(92,184,92,0.75)",
           data: {{ trust2 }}
         }, {
           label: 'pourcentage des echecs par réussites',
           yAxisID: "y-axis-1",
           backgroundColor: "rgba(0, 71, 255, 0.5)",
           data: {{ percent2 }}
         }]
       };


       var ctx = document.getElementById("myChart1");
       // allocate and initialize a chart
       var ch = new Chart(ctx, {
         type: 'bar',
         data: barChartData,
         options: {
           title: {
             display: true,
             text: "Taux & pourcentage d'echec par reussite d'un cours (incluant les soumissions nulles)"
           },
           tooltips: {
             mode: 'label'
           },
           responsive: true,
           scales: {
             xAxes: [{
               stacked: false
             }],
             yAxes: [{
               stacked: false,
               position: "left",
               id: "y-axis-0",
             }, {
               stacked: false,
               position: "right",
               id: "y-axis-1",
             }]
           }
         }
       });



   </script>
  <footer class="menu2">
       <div class="lien2">
        FONDATEUR DU SITE :
           <a href="{{url_for('page_contact')}}"class= "lien">  ALEXANDRE VANDERVALE</a>
           <a href="{{url_for('page_contact')}}"class= "lien">  GUILLAUME DUERINCKX</a>
           <a href="{{url_for('page_contact')}}"class= "lien">  ADRIEN TALOM</a>
           ©Copyright 2019-2020 STAT-INGINIOUS
       </div>
     </footer>
    </body>
</html>
