<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>contact</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">
    </head>
    <body>
     <header>
      <nav class="menu">
       <div class="inner">
        <div class="m-left">
         <h1 class="logo"><img src= "{{url_for('static', filename='inginious.png')}}" width="65" height="60" class="images">    Statistiques-INGInious</h1>
        </div>
        <div class="m-right">
         <a href="{{url_for('accueil')}}" class= "lien" ><img src= "{{url_for('static', filename='maison.png')}}" width="45" height="40" class="image">   RETOUR A L'ACCUEIL</a>
        </div>
       </div>
      </nav>
     </header>
     <corps>
      <div class="col">
            <ul>
                <li>
                  <br>
                  ALEXANDRE VANDERVALE<br><br>
                  <img src= "{{url_for('static', filename='alexandre.jpg')}}" width="165" height="160"><br><br>
                  <div class= "text">Adresse-mail:</div><br>
                  alexandre.vandervale@student.uclouvain.be<br><br>
                  <div class= "text">Messenger:</div><br>
                  Alexandre Vdv<br><br>
                  <div class= "text">Téléphone:</div><br>
                  045...*
                </li>
                <li>
                  <br>
                  GUILLAUME DUERINCKX<br><br>
                  <img src= "{{url_for('static', filename='guillaume.jpg')}}" width="160" height="160"><br><br>
                  <div class= "text">Adresse-mail:</div><br>
                  guillaume.duerinckx@student.uclouvain.be<br><br>
                  <div class= "text">Messenger:</div><br>
                  Guillaume Duerinckx<br><br>
                  <div class= "text">Téléphone:</div><br>
                  045...*
                </li>
                <li>
                  <br>
                  ADRIEN TALOM<br><br>
                  <img src= "{{url_for('static', filename='adrien.jpg')}}" width="165" height="160"><br><br>
                  <div class= "text">Adresse-mail:</div><br>
                  adrien.talomfotso@student.uclouvain.be<br><br>
                  <div class= "text">Messenger:</div><br>
                  Adrien Talom<br><br>
                  <div class= "text">Téléphone:</div><br>
                  045...*
                </li>
            </ul>
      </div>
     </corps>
     <footer class="menu2">
      <div class="lien2">
       *Pour des raisons de confidentialité nous n'avons pas mis nos numéros de téléphone 
      </div>
     </footer>
    </body>
</html>