<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>résultatLSINF1101</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">
        <script src="static/Chart.bundle.min.js"></script>
    </head>
    <body>
     <header>
      <nav class="menu">
       <div class="inner">
        <div class="m-left">
         <h1 class="logo"><a href="{{url_for('accueil')}}" class="logo"><img src= "{{url_for('static', filename='inginious.png')}}" width="65" height="60" class="images">    Statistiques-INGInious</a></h1>
        </div>
        <div class="m-right">
          <div class="menu_déroulant">
           <li class= "déroulant"><a href="#" class= "lien" ><img src= "{{url_for('static', filename='livre.jpg')}}" width="30" height="25" class="image">   LSINF1101</li></a>
            <ul class= "sous">
             <li><a href="{{url_for('résultatLSINF1101')}}">  Résultat </li></a>
             <li><a href="{{url_for('soumissionparjourLSINF1101')}}">  page 3 </li></a>
             <li><a href="{{url_for('batônnetsLSINF1101')}}">  page 4 </li></a>
            </ul>
          </div>
        </div>
        <div class="m-right">
          <div class="menu_déroulant">
           <li class= "déroulant"><a href="#" class= "lien" ><img src= "{{url_for('static', filename='livre.jpg')}}" width="30" height="25" class="image">   LSINF1252</li></a>
            <ul class= "sous">
             <li><a href="{{url_for('résultatLSINF1252')}}"> Résultat </li></a>
             <li><a href="{{url_for('soumissionparjourLSINF1252')}}"> page 6 </li></a>
             <li><a href="{{url_for('batônnetsLSINF1252')}}"> page 7 </li></a>
            </ul>
          </div>
        </div>
        <div class="m-right">
         <div class="menu_déroulant">
          <li class= "déroulant"><a href="#" class= "lien" ><img src= "{{url_for('static', filename='livre.jpg')}}" width="30" height="25" class="image">   LEPL1402</li></a>
           <ul class= "sous">
            <li><a href="{{url_for('résultatLEPL1402')}}"> Résultat </li></a>
            <li><a href="{{url_for('soumissionparjourLEPL1402')}}"> page 9 </li></a>
            <li><a href="{{url_for('batônnetsLEPL1402')}}"> page 10 </li></a>
           </ul>
         </div>
        </div>
        <div class="m-right">
         <a href="{{url_for('page_contact')}}" class= "lien" ><img src= "{{url_for('static', filename='téléphone.jpg')}}" width="30" height="25" class="image">   CONTACT</a>
        </div>
       </div>
      </nav>
     </header>

      <div style="width: 90%">
       <h1 class= "titre"> Résultat des soumissions </h1>
       <h2 class= "explication" align= "justify"> Vous trouverez ci-dessous le graphique qui visualise l'intégralité des soumissions des exercices du cours "LSINF1101". Le nombre d'échec est bien plus élevé car l'on comptabilise toutes leurs soumissions échouées</h2>
      
        <canvas id="myChart1" class= "ok"></canvas>
        
        <h2 class= "legende"> (00.0%) NONE: L'élève n'a rien soumis. <br> (00,2%) CRASH: L’évaluation a crashé.<br>
            (76,4%) FAILED: La soumission a été évaluée et l’étudiant a raté. <br> (00,2%) KILLED: le job de grading a été tué. <br> (00,3%) OVERFLOW: L’évaluation de la soumission de l’étudiant a dépassé la mémoire allouée.
             <br> (22,3%) SUCCESS: La soumission a été évaluée et l’étudiant a réussi. <br> (00,6%) TIMEOUT: L’évaluation de la soumission de l’étudiant a dépassé le temps imparti.</h2>
             
       <h1 class="titre"> Résultat final obtenu par les éléves </h1>
       <h2 class= "explication" align= "justify"> Vous trouverez ci-dessous le graphique qui visualise l'intégralité des dernières soumissions des exercices du cours "LSNF1101". Le nombre de succès est bien plus élevé car l'on ne comptabilise plus leur échec dès qu'ils réussissent</h2>
      
        <canvas id="myChart2" class= "ok1"></canvas>
        
        <h2 class= "legende"> (32,9%) NONE: La dernière soumission a été raté mais l'exercice n'est pas terminé.  <br> (08,6%) ECHEC: La dernière soumission a été raté et l'exercice est terminé.<br>
            (41,5%) FAILED: La dernière soumission a été évaluée et l’étudiant a raté. <br>  (58,5%) SUCCESS: La soumission a été évaluée et l’étudiant a réussi. </h2>
      </div>
       <script>
        var ctx = document.getElementById('myChart1');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: {{ labels|safe }},
                datasets: [{
                    label:'quantité',
                    data: {{ data }},
                    backgroundColor: [
                        'rgba(26, 179, 215,1)',
                        'rgba(129, 5, 5,1)',
                        'rgb(248,0,8)',
                        'rgba(117, 6, 150,1)',
                        'rgba(241, 95, 2,1)',
                        'rgb(36,216,27)',
                        'rgba(219, 222, 55,1)',
                        'rgb(0, 0, 0)'
                    ]
                }]
            },
            options: {}
        });
       </script>
       <script>
        var ctx = document.getElementById('myChart2');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                datasets: [{
                    labels:{{ label2|safe }},
                    data: {{ data2|safe }},
                    backgroundColor: [
                        'rgb(2,2,2)',
                        'rgb(248,0,8)',
                        'rgb(36,216,27)'
                    ]
                },
                {
                    labels:{{ label2bis|safe }},
                    data: {{ data2bis|safe }},
                    backgroundColor: [
                        'rgb(180,0,8)',
                        'rgb(36,150,27)'
                    ]
                }]
            },
            options: {
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            var label = data.datasets[tooltipItem.datasetIndex].labels[tooltipItem.index];
                            var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                            return label + ': ' + value;
                        }
                    }
                }
            }
        });
        </script>
     <footer>
      <nav class="menu2">
       <div class="lien2">
       </div>
      </nav>
     </footer>
    </body>
</html>
